:root {
    --primary-color: #29d9d5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    width: 90%;
    margin: 1rem auto;
    margin-top: -5rem;
    border-radius: 1rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}

.form {
    width: 90%;
    margin: 1rem auto;
    margin-top: -5rem;
    border-radius: 1rem;
    background: #282828;
    border-radius: 0.35rem;
    padding: 1.5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    padding: 3rem 2rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}


.input-group span {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #aaa;
}

.input-group input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: 0.2rem solid #29d9d5;
    font-size: 1.6rem;
    color: #aaa;
    background: none;
    margin-top: 1rem;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    border: 0.2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    transition: 0.3s;
}